.aligntext {
  text-align: center;
}

.attributetext {
  margin-top: 10px;
  text-align: center;
  display:block
}

.brand {
  display: flex;
  flex-direction: column; /* Stack image and text vertically */
  align-items: center;
  text-align: center;
  width: 200px; /* Adjust width as needed */
}

.brand img {
  margin-bottom: 10px; /* Space between image and text */
}


/* .brand {

  display: inline-block;
  margin-top: 40px;
  margin-left: 150px;

}

.brand img+b {

  display: block;
} */

.button {

  border-radius: 25px;
  background-color: aqua;
  margin-top: 40px;
}

.block1 {
  flex-grow: 2;
  position: relative;
  left: 360px;
  width: 300px;
  padding: 10px;
}

.block2 {

  position: relative;
  bottom: 280px;
  right: 100px;
  font-size: 20px;
}

.block3 {
  position: relative;
  bottom: 270px;
  width: 250px;
  font-size: 17px;
  text-wrap:balanced;
}

.brandpage {

  background-color: white;
  height: 100vh;
  width: 100vw;
}

.checkout {
  text-align: center;
}

.checkoutflex {
  display: flex;
}


.cartitem {

  display: flex;
  margin-left: 15%;
  margin-top: 30px;
  flex-direction: row;
}

.cartdescriptivetext {
  margin-top: 30px;
  margin-left: 20px;
  gap: 10px;
  width: 35%;
}

.cartprice {
  display:flex;
  flex-direction: column;
  margin-top: 15px;
}

.cartimagediv {
  /* margin-left: 15%;
  margin-top: 25px; */
  height: 180px;
  width: 150px;
}

.cartimage {

  width: 100%;
  height: auto;
  margin-top: 20px;

}

.centerstage {

  display: flex;
  align-items: center;
  flex-direction: column;
  border: black solid;
  width: 11%;
  margin: auto;
}

.custombutton {
  margin-top: 40px;
  background-color: red;
  text-align: center;

}

.custombutton2 {
  border-radius: 25px;
  /* margin-top: 20px; */
  background-color: blue;
  text-align: center;
  color: red;
}

.custombutton3 {
  border-radius: 25px;
  background-color: green;
  text-align: center;
  color: magenta;
}

.colorshoes {

  all: unset;
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 15px;
}

.dropdownbutton {
  display:flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.descriptivetext {
  font-weight: bold;
}

.descriptivetext p {

  margin-top: 10px;

}

.detailflex {

  display: flex;
  width: 80%;
  margin: auto;
}

.descriptiveflex {

  display:flex;
  flex-direction: column;
  width: 50%;
  margin-left: 70px;
}

.dropdown {

  background-color: white;


}

.eyeimage {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

.forgotpassword {
  padding: 15px;
  color:blue;
  transition: background-color 300ms ease;
  text-align: center;
}

.forgotpassword:hover {
  color: skyblue;
}

.flexcontainer {
  display: flex;
  /* I intentionally should use ugly colors to remind myself that they are for testing
  and need to be removed when finished */
  background-color: purple;
  flex-direction: column;

}

.flexbrand {

  display: inline-block;
  margin-left: 10px;
  height: 80px;
  width: 70px;
  border-radius: 10px;
  border-color: purple;
}

.flexbrand:hover {
  border-color:black;
}

.flexcarousel {

  display: flex;
  flex-direction: column;
  width: 10%;
}

.flexcarouselrow {
  display:flex;
  flex-direction: row;
  gap:10px;
}

.navigationbar {

  position: sticky;
  background-color: white;
  border: 2px solid black;
  top: 0;
  width: auto;
}

.shoesByBrand {
  padding-left: 300px;
  display: flex;
  flex-wrap: wrap; /* Allows multiple "cards" to wrap onto new lines */
  gap: 20px; /* Space between each card */
}


.flex-container {
  display:flex;
  flex-direction: row;
}

.address {
  width: 50%;
}

.addresstext{
  margin-left: 270px;
}

.cart {
  width: 50%;
}

.carttext {
  margin-right: 270px;
}

.carttable {
  display: table-row;
}

.checkoutimg {
  display: table-cell;
  vertical-align: top;
  text-align: right;
  width: 25%;
}

.checkoutinfo {
  display: table-cell;
  width: 25%;
  font-size:12px;
}

.buttoncheckout {

  background-color: black;
  color:white;
  text-align: center;
  border-radius: 25px;
  padding: 25px 120px;
  margin-left: 10px;
  transition: background-color 300ms ease;

}

.buttoncheckout:hover {

  background-color: white;
  color: black;
}


.ghostbutton:hover {

  background-color: black;
  color: white;
}

.ghostbutton {

  display: inline-block;
  width: 200px;
  padding: 8px;
  background-color: white;
  color: black;
  border: 3px solid black;
  text-align: center;
  top: 75px;
  transition: background-color 300ms ease;
}

.hideradio {

  visibility: hidden;
}

.homeimg {

  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid;
  width: 30%;
  margin: auto;
}

.homepage {

  background-color: white;
  height: 100vh;
  width: 100vw;
}

.icons {
  display:flex;
  flex-direction:row;
  gap: 15px;
  margin-top: 30px;
}

.imgdiv {
  display: block;
  width: 50%;
}
.imgsize {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.ispressed {

  background-color: black;
  color: white;
}

/* makes sure that my list of images wont split apart */
/* .dontbreakcolumn{
  flex-wrap: wrap;
  width: 100px;
  writing-mode: vertical-lr;
  break-before: avoid-column;
} */

/* splits the column once the list of images are set */
/* .breakcolumn {
  break-before: column;
  position: relative;
  right: 450px;
} */

/* .imageform {
  display:flex;
  flex-direction: column;
  row-gap: 20px;
} */


.itemdiv {

  background-color: greenyellow;
  color: lightpink;

}

.shoeimg {
  margin-top: 25px;
  height: 80px;
  width: 70px;
  border-radius: 10px;
}

.loginpage {

  background-color: white;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.loginbutton {
  background-color: black;
  color:white;
  text-align: center;
  transition: background-color 300ms ease;
}

.loginbutton:hover {

  background-color: white;
  color: black;
}

.flexbutton {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}



.buttoncontainer {
  background-color: black;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
  height: 50px;
  transition: background-color 300ms ease;
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 15px;

}

.buttoncontainer:hover {

  background-color: white;
  color: black;
}

.buttonorder {

  background-color: black;
  color:white;
  text-align: center;
  border-radius: 25px;
  padding: 25px 120px;
  margin-top: 100px;
  margin-left: 10px;
  transition: background-color 300ms ease;

}

.buttonorder:hover {

  background-color: white;
  color: black;
}

.buttonorder + .buttonorder {

  margin-top: 50px;
}

.split {
  columns:2;
  column-gap: 20%;
}

.dropdown-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Using a to anchor the element that comes after the img tage */

/* Needed to create a separate class for Link tag because it doesn't work in css  */
/*causes a cannot read properties of null because of the cursor property affected the other html elements that use this class but aren't buttons */

.spaceBetweenLink {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 45px;
  font-size: 15px;
  font-family: serif;
}


/* If two elements are using the same class then this class will activate */

.spaceForImage .spaceBetweenLink+.spaceBetweenLink {
  margin-left: 20px;

}


.flexshoelist {

  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}
.shoelist {

  display: flex;
  margin-top: 30px;
  width: 40%;
}


.shoelist img {
  height: 250px;
}

.signup {

  background-color: white;
  height: 150vh;
  width: 100vw;
  text-align: center;

}

.backgroundpage {

  background: white;

}

.textbox {
  margin-top: 10px;
  height: 45px;
  width: 179px;
}

/* .textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
} */

.textcondense {

  width: 300px;
  /* center an element horizontally within its parent container */
  margin: auto;
  text-align: center;
}

.userinfo {

  background-color: coral !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}


